__pycache__/
.venv/
.DS_Store
.idea/
*.iml
android/local.properties
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.tool-cache/
build/
coverage/
server/.env
android/.gradle/
ios/Pods/
